a, p, h1, h2, h3 {
font-family: 'Varela Round', sans-serif;
color: #fff;

}

p {
    margin-bottom: 35px;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
}

h2 {
    margin-top: 100px;
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 30px;
    
}

h3 {
    margin-top: 80px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 30px;

}



