p, h1, h2, h3 {
font-family: 'Exo 2', sans-serif;
color: #fff;

}

p {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}

h2 {
    margin-top: 50px;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 20px;
}

h3 {
    font-weight: 600;
    font-size: 18px;
}



