ul li a {
    cursor: pointer;
    text-decoration: none;
}

#movie-box{
    display: none;
}

// #character-box, #movie-box{
//     height: 80%;
//     width: 45%;
//     background-color: rgba(0, 0, 0, 0.5);
// }

#character-box, #movie-box{
    margin-left: 30px;
}
