body{
    background-color: #000000;
        background:url('../images/bg5.jpeg') no-repeat;
    background-size: cover;

}

ul li {
    list-style: none;
}

ul li a {
    cursor: pointer;
    line-height: 50px;
    color: #fff;
    margin-top: 50px;
    font-size: 20px;
    &:hover {
    color: rgb(255, 255, 80);
    }

}




#main-footer{
    margin-bottom: 10px;
    position: fixed;
}
