body{
    background-color: #000000;
}

ul li a {
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}


#content{

    background-image:url('../images/bg.jpeg') no-repeat;
}

// #character-box, #movie-box{
//     margin: 20px,auto;
//     margin-left: 30px;
// }
